/*  =============
    Global Styles
    =============   */

:root {
    --lightpurple-color: #4A0E7A;
    --darkpurple-color: #3C155D;
    --secondary-color: #FF901E;
    --whiteish-color: #F9F9F9;
    --unhovered-color: grey;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.bold {
    font-weight: bold;
}

.orangeText {
    color: var(--secondary-color);
}

:focus {
    outline: none;
}

/*  ==========
    Typography
    ==========  */

body {
    font-family: 'Karla', sans-serif;
    font-size: 1.6rem;
    font-weight: 120;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
    width: fit-content;
    color: unset;
}

ul {
    list-style: none;
}

h1 {
    font-size: min(2.8em, 17vw);
    color: var(--secondary-color);
}

.navbar__link {
    color: var(--whiteish-color);
}

/*  ======
    Layout
    ======  */

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    padding: 1em;
    background-color: var(--lightpurple-color);
    opacity: .9;
    padding-bottom: 1rem 0;
    z-index: 2;
    transition-duration: .8s;
    padding-left: 5em;
    /*Hides on scroll*/
}

.navbar__img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-img {
    width: 40vw;
    max-width: 200px;
}

.navbar__list {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
    align-items: center;
    flex-grow: 1;
    justify-content: space-around;
    flex-basis: 500px;
    max-width: 700px;
}

.navbar__link {
    position: relative;
}

.about-section {
    height: 100vh;
    text-align: center;
    background: var(--whiteish-color);
    box-shadow: inset 0 0 10px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: content-box;
}

.about-section h1 {
    line-height: 1em;
    font-size: 3rem;
}

.about-section p {
    font-size: min(1em, 10vw);
}

.project-section {
    color: var(--whiteish-color);
    background: var(--darkpurple-color);
    padding: 1rem;
    min-height: 100vh;
}

#project-section h1, p {
    margin: 0 auto;
}

.project-section__header {
    max-width: 60vw;
    margin: 115px 4rem;
    margin-bottom: 80px;
}

.project-section__desc::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 300px;
    max-width: 30vw;
    height: 5px;
    bottom: -2rem;
    left: 0;
    background-color: var(--whiteish-color);
}

.project-section__desc {
    margin-top: .7rem;
    font-size: 1.8rem;
    position: relative;
}

.projects {
    margin-top: 1em;
    gap: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    transition: max-height 1s ease-in-out;
    overflow: hidden;
}

.description__desc {
    text-align: justify;
}

.toggledOn {
    max-height: 5000px;
}

.toggledOff {
    max-height: 770px;
}

.project__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: min(530px, 90vw);
    flex-grow: 1;
    position: relative;
    text-align: center;
}

.image-wrapper {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project__img {
    max-width: min(530px, 90vw);
    max-height: 300px;
    border-radius: 1rem;
    margin: 0 auto;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.project__codeBtn {
    color: var(--whiteish-color);
    position: absolute;
    right: 0;
    opacity: 0;
    transition: opacity 1s ease-in;
}

.project__codeBtn--shown {
    opacity: 1;
    transition: opacity 1s ease-out;
}

.project__item h3 {
    margin: 0;
    font-size: min(28px, 8vw);
    flex-grow: 10;
    max-width: 80%;
}

.description__wip {
    text-align: right;
    font-size: 1.4rem;
}

.project__expandBtn {
    color: var(--whiteish-color);
    background: transparent;
    cursor: pointer;
    border: none;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0 auto;
}

.wrap-center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#contact-section {
    box-shadow: inset 0 0 10px black;
    min-height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contact-icons {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    justify-content: space-evenly;
}

.contact-icons__item {
    color: var(--unhovered-color);
    margin: 1em;
    flex-basis: 20%;
}

.styled-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color .4s;
    color: var(--whiteish-color);
    font-size: 1.4rem;
}

.navbar__h-menu {
    display: none;
    position: absolute;
    right: 1em;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
}

.h-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 4;
    background-color: var(--darkpurple-color);
    transition: transform .5s ease-in-out;
    transform: translateX(0)
}

.h-menu--hidden {
    transform: translateY(-100%);
}

.h-menu__list {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.navbar__link--h-menu {
    font-weight: bold;
}

.h-menu__close {
    position: absolute;
    right: 1.5rem;
    top: 2.8rem;
}

@media screen and (max-width: 800px) {
    #navbar {
        padding-left: 1em;
    }
    .image-wrapper {
        height: unset;
    }
    .project-section__header {
        max-width: 100%;
        margin: 1rem;
        margin-top: 2rem;
        margin-bottom: 4rem;
    }
    .project-section__title {
        font-size: 2.8rem;
    }
    .project-section__desc {
        font-size: 1.4rem;
        text-align: justify;
    }
}

@media screen and (max-width: 500px) {
    .navbar__h-menu {
        display: block;
    }
    .navbar__list {
        display: none;
    }
}

/*  =========
    Animation
    =========   */

@keyframes slideIn {
    from {}
    to {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {}
    to {
        opacity: 1;
    }
}

.navbar__link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--secondary-color);
    bottom: -4px;
    transform: scaleX(0);
}

.navbar__link::after {
    transform-origin: center;
    left: 0;
    right: 0;
    transition: all .5s;
}

.navbar__link:hover::after, .navbar__link:focus::after {
    transform: scaleX(1);
}

.header-img {
    transform: translateX(-100rem);
    animation: slideIn .5s forwards;
}

.navbar__item {
    transform: translateX(100rem);
    animation: slideIn .5s forwards;
}

.navbar__item:nth-child(1) {
    animation-delay: .25s;
}

.navbar__item:nth-child(2) {
    animation-delay: .5s;
}

.navbar__item:nth-child(3) {
    animation-delay: .75s;
}

.page-content {
    opacity: 0;
    animation: fadeIn 3s forwards;
    animation-delay: 1s;
}

.project__item a:hover, .project__item a:focus {
    opacity: 85%;
}

.project__expandBtn:hover {
    color: var(--secondary-color);
}

.fa-linkedin {
    color: #0077B5;
}

.fa-linkedin, .fa-github, .fa-whatsapp-square, .fa-twitter, .fa-envelope {
    transition: all .6s ease-out;
}

.fa-linkedin:hover, .fa-linkedin:focus, .fa-github:hover, .fa-github:focus, .fa-whatsapp-square:hover, .fa-whatsapp-square:focus, .fa-twitter:hover, .fa-twitter:focus, .fa-envelope:hover, .fa-envelope:focus {
    opacity: .8;
    transform: scale(1.1)
}

.fa-whatsapp-square {
    color: #25D366;
}

.fa-twitter {
    color: #1DA1F2;
}

.fa-envelope {
    color: #F14336;
}

.github-contact {
    color: black;
}

.styled-button:hover, .styled-button:focus {
    color: var(--secondary-color);
}