<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <ul>Os cursos da Fatec Sorocaba são:
        <li>Análise e Desenvolvimento de Sistemas</li>
        <li> Eletrônica Automotiva</li>
        <li>Fabricação Mecânica</li>
        <li>Gestão da Qualidade</li>
        <li> Logística</li>
        <li>Manufatura Avançada</li>
        <li>Processos Metalúrgicos</li>
        <li> Polímeros</li>
        <li>Projetos Mecânicos</li>
        <li>Sistemas Biomédicos</li>
        <li> Gestão Empresarial - EAD</li>
    </ul>
</body>

</html>